body{
  margin:0;
  background-color:black;
  text-align: center;
  overflow-y: hidden;
}

#headerContainer{
  padding: 1.5em;

  background-color: black;
  color:white;
  font-size:2.5em;
}
#memoryContainer{
  position: relative;
  max-width: 1000px;
  margin:auto;

  text-align: center;
}

#myMemory{
  animation-name:shrinkme;
  animation-duration: 3.75s;
  animation-play-state: infinite;
}

@keyframes shrinkme{
  0%{
    transform: scale(1.0);
  }
  100%{
    transform: scale(0.5);
  }
}

img{
  width:80%;
}
#facts{
  margin-left: 20%;
  margin-right:20%;
  opacity:0;
  text-decoration: none;
  color:white;
  font-size: 1.5em;
}

#fact1{
  opacity:1;
}
#fact2{
  opacity:1;
}
#source a{
  text-decoration: none;
  color:white;

}

#source a:link{
  color:white;
}
#source a:visited{
  color:white;
}
#source a:hover{
  color:blue;
}
